<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/_0"
        android:label="@string/app_name"
        android:roundIcon="@drawable/_0"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnByzantineMusic"
        tools:targetApi="31">
        <activity
            android:name=".modes.EightModesActivity"
            android:exported="false"
            android:label="@string/title_activity_eight_modes"
            android:theme="@style/Theme.LearnByzantineMusic" />
        <activity
            android:name=".summary_theory.Testimonies"
            android:exported="false"
            android:label="@string/title_activity_testimonies"
            android:theme="@style/Theme.LearnByzantineMusic" />
        <activity
            android:name=".summary_theory.Time"
            android:exported="false"
            android:label="@string/title_activity_time"
            android:theme="@style/Theme.LearnByzantineMusic" />
        <activity
            android:name=".summary_theory.Quality"
            android:exported="false"
            android:label="@string/title_activity_quality"
            android:theme="@style/Theme.LearnByzantineMusic" />
        <activity
            android:name=".summary_theory.Descents"
            android:exported="false"
            android:label="@string/title_activity_descents"
            android:theme="@style/Theme.LearnByzantineMusic" />
        <activity
            android:name=".summary_theory.Ascents"
            android:exported="false"
            android:label="@string/title_activity_ascents"
            android:theme="@style/Theme.LearnByzantineMusic" />
        <activity
            android:name=".lessons.ClimbingCompositions"
            android:exported="false"
            android:label="@string/title_activity_lesson3"
            android:theme="@style/Theme.LearnByzantineMusic" />
        <activity
            android:name=".lessons.Duotrioquatro"
            android:exported="false"
            android:label="@string/title_activity_lesson2"
            android:theme="@style/Theme.LearnByzantineMusic" />
        <activity
            android:name=".lessons.PhthongsNames"
            android:exported="false"
            android:label="@string/title_activity_phthongs_names"
            android:theme="@style/Theme.LearnByzantineMusic" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnByzantineMusic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
